@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300&family=Lato:ital,wght@1,300&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300&family=Lato:ital,wght@1,300&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300&display=swap"); 



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    /* background-color */
    --primary-color:#021832;
    --secondary-color:#caa169;
    --bg-color:#f4f4f4;
    --bg-white:#fff;
    --bg-black:#000;


    /* text-style */
    --primary-font:'poppins',sans-serif;
    --secondary-font:'Oswald',sans-serif;
    --primary-text: #021832;
    --secondary-text: #caa169;
    --text-color: #f4f4f4;
    --text-white: #fff;
    --text-black: #000;
    --text-gray: #e4e4e4;
}

body{
    font-family: var(--primary-font);
    background-color: var(--bg-white);
}
a{
    text-decoration: none;
}
::-webkit-scrollbar{
    width: .375rem;
}
::-webkit-scrollbar-track{
    background: var(--secondary-color);
}
::-webkit-scrollbar-thumb{
    background: var(--primary-color);
}
section{
    padding: 3.125rem 0;
}
.main-btn{
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
    background-color: transparent;
    text-transform: uppercase;
    border: .0625rem solid var(--primary-color);
    border-radius: 3.75rem;
    padding: .375rem 1.875rem;
    line-height: 1.75rem;
    display: inline-block;
    transition: all 0.3s ease-out 0s;
    white-space: nowrap;
  
}
.main-btn:hover{
    border-color:var(--secondary-color) ;
    background-color: var(--secondary-color);
    color: var(--text-color);
}
h1{
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    color: var(--text-white);
    margin-bottom: 1.25rem;
    text-transform: uppercase;
    font-family: var(--secondary-font);
}
h3{
    font-size: 2.25rem;
    line-height: 2.875rem;
    font-weight: 700;
    color: var(--primary-text);
    margin-bottom: 1.25rem;
    font-family: var(--secondary-font);
}
h3 span{
    color: var(--secondary-color);
}
h5{
    font-size: 1.5rem;
    line-height: 1;
    color: var(--secondery-text);
    font-weight: 500;
    font-family: var(--secondary-font); 
     
}
h6{
    font-size: .875rem;
    color: var(--primary-text);
    margin-bottom: .9375rem;
    text-transform: uppercase;
    font-weight: 300;
    font-family: var(--secondary-font);
}
p{
    font-size: 1rem;
    color: var(--text-black);
    line-height: 1.625rem;
}
.section-title::after{
    content: "";
    background-image: url('../images/title-icon.webp');
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    margin-top: -.9375rem;
    height: .9375rem;
}
.header-wrapper .navbar{
    padding:.9375rem 0 ;
    background-color: var(--bg-white);
    box-shadow: 0 .5rem .375rem -.375rem rgb(0 0 0 /40%);
    -webkit-box-shadow: 0 .5rem .375rem -.375rem rgb(0 0 0 /40%);
    -webkit-transition: background 0s ease-in-out 0s,
    margin-top 0s ease-in-out 0s,
    opacity 0s ease-in-out 0s; ;
    transition: background 0s ease-in-out 0s,
    margin-top 0s ease-in-out 0s,
    opacity 0s ease-in-out 0s;
}
.header-wrapper .navbar-toggler{
    box-shadow: none;
}
.header-wrapper .nav-item{
    margin: 0 .625rem;
}
.header-wrapper .nav-item .nav-link{
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-text);
    display: inline-block;
}
.header-wrapper .nav-item .nav-link:hover,
.header-wrapper .nav-item .nav-link.active{
    color: var(--secondary-text);
    cursor: pointer;

}

 /* section carousel css starts */
 .carousel-wrapper{
    height: 40.625rem;
 }
 .carousel-wrapper .swiper{
    height: 100%;
    width: 100%;
 }
 .carousel-wrapper .swiper-slide{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background: cover;
    position: relative;
 }
 .swiper-pagination-bullets .swiper-pagination-bullet{
    height: .875rem;
    width: .875rem;
    background-color: var(--secondary-color);
    border: .12rem solid var(--bg-white);
 }
 .carousel-wrapper .swiper-slide::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 0;
 }
 .carousel-wrapper .swiper .slide-caption{
    position: relative;
    z-index: 99;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .booking-area{
    background-color: var(--bg-white);
    margin-top: -4rem;
    padding: 3.125rem 1.875rem;
    position: relative;
    z-index: 9999;
    box-shadow: 0 .625rem .9375rem 0 rgb(0 0 0 /10%);
 }
 /* about */
 .about-wrapper{
    padding-top: 8.725rem;
 }


 /* rooms section  */

 .room-wrapper .room-items{
    position: relative;
    overflow: hidden;
 }
 .room-wrapper .room-items img{
    width: 100%;
    -webkit-transition: all 400ms ease-in 0s;
    transition: all 400ms ease-in 0s;
    
 }
 .room-wrapper .room-items:hover img{
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
 }
 .room-wrapper .room-items::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--bg-black);
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 400ms ease-in 0s;
    transition: all 400ms ease-in 0s;
 }
 .room-wrapper .room-items:hover::before{
    opacity: 0.6;
 }
 .room-wrapper .room-items .room-item-wrap{
    position: absolute;
    right: 1.875rem;
    left: 1.875rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
 }
 .room-wrapper .room-content{
    border: .125rem solid var(--bg-white);
    padding: 5rem 1.125rem;
    transform: scale3d(1.2, 1.2, 1.2);
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    opacity: 0;
    transition: all 500ms ease-in 0s;
 }
 .room-wrapper .room-items:hover .room-content{
     opacity: 1;
     transform: scale3d(1, 1, 1);
     -webkit-transform: scale3d(1, 1, 1);
 }



 /* service */
 .service-item-wrap{
    background-color: var(--bg-color);
 }
.service-menu-area ul li a{
    display: block;
    margin-bottom: 2.8125rem;
}
.service-menu-area ul li a .service-icon{
       height: 5.625rem;
       width: 5.625rem ;
       background-color: var(--secondary-color);
       line-height: 5.625rem;
       text-align: center;
       border-radius: 100%;
       float: left;
       -webkit-transition: all 0.3s ease-in-out;
       transition: all 0.3s ease-in-out;
}
.service-menu-area ul li a p span{
    color: var(--secondary-text);
}
.service-menu-area ul li a .service-icon:hover,
.service-menu-area ul li a.active .service-icon{
    background-color: var(--primary-color);
    color: white;
    box-shadow: rgb(34, 30, 32 /40%);
}
.service-menu-area ul li:nth-child(1){
    margin-left: 0.5625rem;
}
.service-menu-area ul li:nth-child(2){
    margin-left: -2.9375rem;
}
.service-menu-area ul li:nth-child(3){
    margin-left: -6.375rem;
}
.service-menu-area ul li:nth-child(4){
    margin-left: -8.8125rem;
}

.service-menu-area ul li a p,
.service-menu-area ul li a h5{
   padding-left: 6.875rem;
   display: block;
   text-align: left;
}

/* staff section  */
  .team-wrapper .card{
    position: relative;
    overflow: hidden;
}
.team-wrapper .team-info{
    background-color: var(--secondary-color);
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1.25rem;
    margin-bottom: -4.6875rem;
    -webkit-transition: all 0.3s ease-in-out ;
    transition: all 0.3s ease-in-out ;
}
.team-wrapper .card:hover .team-info{
    margin-bottom: 0;
}
.team-wrapper .team-info h5,
.team-wrapper .team-info p{
    color: var(--text-color);
}
.team-wrapper .team-info .social-network{
    -webkit-transition: all 0.3s ease-in-out ;
    transition: all 0.3s ease-in-out ;
    margin: 1.25rem -1.25rem -1.25rem;
    padding: 1.25rem;
    list-style: none;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
   justify-content: space-around;
}
.team-wrapper .team-info .social-network li a{
    width: 2rem;
    height:2rem;
    line-height: 2rem;
    display: block;
    color: var(--text-color);
   border: .0625rem solid white;
   border-radius: 50%;

}
.price-wrapper .card{
    box-shadow: 0 .125rem .25rem rgb(34 30 31 / 40%);
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    cursor: pointer;
}
.price-wrapper .card:hover{
    background-color: var(--secondary-color);
}
.price-wrapper .card:hover h5,
.price-wrapper .card:hover h3,
.price-wrapper .card:hover p{
    color: var(--text-color);
}
.price-wrapper .card:hover .main-btn{
    color: var(--text-color);
    border-color: var(--bg-white);
}
/* blog */
.blog-wrapper .blog-content{
    margin: -5rem 0 0 4.375rem;
    box-shadow: 0 .125rem .25rem rgb(34 30 31 / 40%) ;
}

.our-partner-slider{
background-color: var(--bg-color);
padding: 3.125rem 0;
}
.footer-wrapper{
    background-color: var(--bg-black);
}
.footer-wrapper h5{
    color: var(--text-color);
    margin-bottom: 1.25rem;
}
.footer-wrapper ul li{
    margin-bottom: .5rem;
}
.footer-wrapper .contact-info li a{
    color: var(--secondary-color);
}

.footer-wrapper .link-widget li a,
.footer-wrapper p{
    color: var(--text-color);
    font-size: .875rem;
    padding-left: 1.5rem;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.footer-wrapper .link-widget li a::before{
    content:' \f105';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 0.3rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.footer-wrapper .link-widget li a:hover{
    color: var(--secondary-color);
    margin-left: .625rem;
}
.footer-wrapper .social-network a{
    width:2.1875rem;
    height:2.1875rem;
    margin: .5rem;
    line-height: 2rem;
    font-size: .875rem;
    display: inline-block;
    color: var(--text-color);
    border: .125rem solid var(--text-color);
    border-radius: 100%;
    text-align: center;
    -webkit-transition: all 0.3s cubic-bezier(0..645, 0.045, 0.035, 1);
    transition: all 0.3s cubic-bezier(0..645, 0.045, 0.035, 1);
}
.footer-wrapper .social-network a:hover{
    background-color: var(--secondary-color);
    border-color: var(--secondary-text);
    color: var(--text-color);
    transform: translateY(-0.1875rem);
    box-shadow: 0 .625rem .9375rem 0 rgb(0, 0, 0 /10%);
}

.footer-wrapper .form-control:focus{
    outline: none;
    box-shadow: none;
    border-color: var(--secondary-color);
}
.header-scrolled{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, .85);
    z-index: 99999;
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeindown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeindown;
}
@keyframes fadeindown{
    0%{
        top: -30%;
    }
    50%{
        top: -15%;
    }
    100%{
        top: 0%;
    }
}

